<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agregar titulo al documento -->
    <title>titulo</title>
    Linkear al archivo css
    <link rel="stylesheet"href="/CSS/styles.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

</head>

<body>
    <header>

        <div class="navbar">
            <nav>
                <ul>
                  <li><a href="#inicio">Inicio</a></li>
                  <li><a href="#acerca">Acerca de</a></li>
                  <li><a href="#servicios">Servicios</a></li>
                  <li><a href="#contacto">Contacto</a></li>
                </ul>
              </nav>

        </div>
           
        <h1></h1>

        <img src="images/logo-mercado-liebre.svg" alt="logo de mercado liebre">

        <p>Lugar para poner barra de busqueda</p>
    
        <p>Compra en cuotas y sin tarjeta de crédito</p>
       
        <ol>
            <li>Ofertas</li>
            <li>Tiendas oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ol>
    
        <ol>
            <li>Crea tu cuenta</li>
            <li>Ingresa</li>
            <li>Mis compras</li>
            
        </ol>
   

    <div class="login-bar">
        
      </div>
      
      <div class="search-bar">
        
      </div>

    </header>
    
    <main>
        <section>
            <h3>Basado en tu última visita</h3>

         <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
         <p>$6.770</p> 
         <p>40% OFF</p>
         <p>Cafetera Moulinex</p>

         <img src="images/img-macbook-pro.jpg" alt="imagen de MacBook">
         <p>$230.000</p>
         <p>20% off</p>
         <p>MacBook Pro 2019</p>


         <img src="images/img-samsung-galaxy.jpg" alt="imagen de Samsung Galaxy ">
         <p>$70.500</p>
         <p>10% off</p>
         <p>Samsung Galaxy S10</p>
       
         <img src="images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv ">
         <p>$23.200</p>
         <p> 5% off</p>
         <p>SmartTv Samsung 43"</p>
       

        </section>

        <section>
            <h3>Sección de Ofertas</h3>

            <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
            <p>$6.770</p> 
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>

            <img src="images/img-macbook-pro.jpg" alt="imagen de MacBook">
         <p>$230.000</p>
         <p>20% off</p>
         <p>MacBook Pro 2019</p>
         <img src="images/img-samsung-galaxy.jpg" alt="imagen de Samsung Galaxy ">
         <p>$70.500</p>
         <p>10% off</p>
         <p>Samsung Galaxy S10</p>
       
         <img src="images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv ">
         <p>$23.200</p>
         <p> 5% off</p>
         <p>SmartTv Samsung 43"</p>
       


        </section>
    </main>

  
    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

         <h4>Envío gratis desde $ 2.500</h4>
         <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

      <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

    </footer>

</body>
</html>


